{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Редактирование профиля
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">
            Сохранить изменения
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}